
/*Последняя правка 30.03*/
@media only screen and (max-width: 1259px) and (min-width: 580px)
{
#second{
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 10px 0px;
}

.sec_contaner{
	display: grid;
	padding: 20px 0px;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 15px;
}

.menu_phone .university{
	width: 70%;
	display: table-cell;
	color: #f2f2f2;
	float: left;
	max-height: 45px;
	height: 30px;

    background-color: #6e65c6;


	border-radius: 20px;
	padding: 5px 15px;
	text-align: center;
}

#submenu{
	width: 100%;
	display: none;
	text-align: center;
	line-height: 55px;
    background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);
	z-index: 1000;
	list-style: none;
	height: 510px;
	width: 100%;
	font-size: 20px;
	position: absolute;
	top: 50px;
	font-weight: bold;
	transition: .3s;
	box-sizing: border-box;
}

#submenu a{
	color: #f2f2f2;
	text-decoration: none;
	transition: .3s;
	vertical-align: middle;



}

#submenu a:hover{
	color: #f2f2f2;

    background-color: #6e65c6;



	text-decoration: none;
	box-sizing: border-box;


}

#submenu li:hover{
	color: #f2f2f2;

    background-color: #6e65c6;



	text-decoration: none;


}

#submenu li{
	width: 100%;
}

#submenu .techs a{
	font-size: 18px;
	color: #f2f2f2;
	font-weight: lighter;
	
}

.menu_phone{
	max-width: 100%;
	padding: 5px 0px;
	position: absolute;

    background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);


	box-shadow: 0px 1px 10px 0px #555555;
	width: 100%;
	height: 40px;
	font-size: 14px;
	z-index: 1;
	transition: .3s;
	box-sizing: content-box;
}

.menu_phone a{
	color: #f2f2f2;
	text-decoration: none;
	list-style: none;
}

.menu_phone #hamburger{
	background:  url(../img/menu.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	float: right;
	margin: 7.5px 15px;
	display: block;
	transition: .3s;
	
}

.menu_phone #close{
	background:  url(../img/close.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	float: right;
	margin: 7.5px 15px;
	position: absolute;
	right: 5px;
	display: none;
}

.menu{
	display: none;

}

.rfid_vid{
	width: 60%;	
	padding: 10px 20% 20px 20%;

}



.main_content p{
	width: 80%;
	padding: 10px 10%;
	color: #808080;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 15px 0px;
}

.main_content{
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.more{
	width: 30%;
	height: 50px;
	margin:  10px 35%;
	line-height: 50px;
	text-align: center;
	padding: 5px;
	border-radius: 30px;
	background-color: #6e65c6;
	background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);
	box-shadow: 0px 0px 20px 0px #6e65c6;
}	


h1{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #444444;
	font-size: 26px;
}

h1{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #6e65c6;
	background: white;
	border: 5px solid #6e65c6;
	font-size: 40px;
	box-shadow: 0px 0px 7px 0px #808080;
    width:  500px;
    margin:  0px auto;
    position:  relative;

}

h2{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #6e65c6;
	background: white;
	border: 5px solid #6e65c6;
	font-size: 35px;
	box-shadow: 0px 0px 7px 0px #808080;
    width:  350px;
    margin:  0px auto;
    top: 110px;
    position:  relative;

}

.link{
	width: 255px;
	height: 105px;
	background: white;
	border-radius: 4px;
	margin: 15px auto;
	padding: 15px;
	box-shadow: 0px 0px 17px 0px #808080;
}

.link:hover{
	width: 255px;
	height: 105px;
	background: white;
	border-radius: 4px;
	margin: 15px auto;
	padding: 15px;
	box-shadow: 0px 0px 17px 0px #808080;
}
/*....................1..................*/

.mobile_text_active{
}

.icon_1{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #3d3dff;
    background-image: url(../img/nut-icon.png), repeating-linear-gradient(to top,#0000ff 0%,#7a7aff 100%);
    background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #0000ff;
    float: left;
}

.info_1{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_1{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #3d3dff;
	width: 100px;
	text-align: center;
	color: #3d3dff;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_1:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #3d3dff;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #0000ff;
}
/*...................2...................*/

.icon_2{
	width: 55px;
	height: 55px;
	border-radius: 50%;
    background-image: url(../img/handyman-tools.png), repeating-linear-gradient(to top,#cc00ff 0%,#e167ff 100%);
    background-color: #d734ff;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #cc00ff;
    float: left;
}

.info_2{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_2{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #d734ff;
	width: 100px;
	text-align: center;
	color: #d734ff;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_2:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #d734ff;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #cc00ff;
}

/*.......................3..........................*/
.icon_3{
	width: 55px;
	height: 55px;
	border-radius: 50%;
    background-image: url(../img/black-rotated-puzzle-piece.png), repeating-linear-gradient(to top,#ffae00 0%,#ffc64d 100%);
    background-color: #ffba27;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #ffae00;
    float: left;
}

.info_3{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_3{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #ffba27;
	width: 100px;
	text-align: center;
	color: #ffba27;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_3:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #ffba27;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #ffae00;
}

/*...........................4..............................*/

.icon_4{
	width: 55px;
	height: 55px;
	border-radius: 50%;
    background-image: url(../img/close.png), repeating-linear-gradient(to top,#4b0082 0%,#8155a1 100%);
    background-color: #662b92;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #4b0082;
    float: left;
}

.info_4{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_4{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #662b92;
	width: 100px;
	text-align: center;
	color: #662b92;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_4:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #662b92;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #4b0082;
}

/*.......................5..........................*/
.icon_5{
	width: 55px;
	height: 55px;
	border-radius: 50%;
    background-image: url(../img/plus.png), repeating-linear-gradient(to top,#5cdba8 0%,#8cd9ba 100%);
    background-color: #74dab1;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #5cdba8;
    float: left;
}

.info_5{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_5{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #74dab1;
	width: 100px;
	text-align: center;
	color: #74dab1;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_5:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #74dab1;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #5cdba8;
}

/*.......................6..........................*/
.icon_6{
	width: 55px;
	height: 55px;
	border-radius: 50%;
    background-image: url(../img/minus.png), repeating-linear-gradient(to top,#d80027 0%,#dd526b 100%);
  	background-color: #db2949;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #d80027;
    float: left;
}

.info_6{
	width: 190px;
	float: right;
	font-size: 12px;
	color: #444444;
	padding-left: 3px;
}

.open_6{
	font-size: 15px;
	border-radius: 13px;
	border: 1px solid #db2949;
	width: 100px;
	text-align: center;
	color: #db2949;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_6:hover{
	border: 1px solid transparent;
	font-size: 15px;
	border-radius: 13px;
	background-color: #db2949;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #d80027;
}

.mobile_text_none{
	display: none;
}

.contacts{

}

.contacts_wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.cont_contaner{
	width: 70%;	
	background: white;
	border-radius: 4px;
	margin: 15px auto;
	padding: 15px;
	box-shadow: 0px 0px 17px 0px #808080;


}

.profile{
	display: grid;
	grid-template-rows: 1fr 1fr: 
}

.profile .photo{
	width: 100px;
	height: 100px;	
	border: 8px solid #6e65c6;
	border-radius: 70px;
	background: url(../img/profile_photo.png), #f2f2f2;
	background-size: 100% 100%;
	margin: 0px auto;
	box-shadow: 0px 0px 17px 0px #808080;
/*	background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);*/
}


.profile .photo:hover{
	width: 100px;
	height: 100px;	
	border: 8px solid #6e65c6;
	border-radius: 70px;
	background: url(../img/profile_photo.png), #f2f2f2;
	background-size: 100% 100%;
	margin: 0px auto;
	box-shadow: 0px 0px 17px 0px #808080;
/*	background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);*/
}

.profile_info{
	color: #808080;
	font-size: 13px;
	padding: 5px 0px;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
}

.profile{
	text-align: right;
}



.social{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.social a{
	text-decoration: none;
}

.social a:nth-child(1){
		width: 32px;	
		height: 32px;	
		background: url(../img/vk.svg);
		border-radius: 20px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		margin-bottom: 8px;
		background-size: 100% 100%;
}

.social a:nth-child(2){
		width: 32px;	
		height: 32px;	
		background: url(../img/facebook.png);
		border-radius: 20px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

.social a:nth-child(3){
		width: 32px;	
		height: 32px;	
		background: url(../img/gmail.svg);
		border-radius: 2px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-position: 100% 100%;
		background-size: 100% 100%;
		border-radius: 20px; 
}

.social a:nth-child(4){
		width: 32px;	
		height: 32px;	
		background: url(../img/google-plus.svg) no-repeat;
		border-radius: 20px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

.social a:nth-child(5){
		width: 32px;	
		height: 32px;	
		background: url(../img/twitter.svg);
		border-radius: 20px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

textarea{
	width: 80%;
	height: 100px;
	resize: none;
	box-sizing: border-box;
    padding: 7px;
	border: 1px solid #808080;
	overflow: auto;
	background: #f2f2f2;
	border: 1px solid #cecece;
	border-radius: 2px 2px 5px 5px;
	margin: 10px 10%;
	box-shadow: 0px 0px 1px 0px #808080;
/*	border-bottom: 4px solid #6e65c6;*/
	color: #808080;
	display: content-box;
	transition: .3s;
}

textarea:focus{
	width: 80%;
	height: 100px;
	resize: none;
	box-sizing: border-box;
    padding: 7px;
	border: 1px solid #808080;
	overflow: auto;
	background: #f2f2f2;
	border: 1px solid #cecece;
	border-radius: 2px 2px 5px 5px;
	margin: 10px 10%;
	box-shadow: 0px 0px 6px 0px #808080;
	border-bottom: 4px solid #6e65c6;
	color: #808080;
	display: content-box;
}

.buttons input:first-child{
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid #74dab1;
    width: 125px;
    text-align: center;
    color: #74dab1;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    background: white;
    transition: .5s;

}

.buttons input:first-child:hover{
    font-size: 15px;
    border-radius: 25px;
    width: 125px;
    text-align: center;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    box-shadow: 0px 0px 10px 0px #5cdba8;
    border: 1px solid transparent;
	background-color: #74dab1;
	color: #f2f2f2;
	cursor: pointer;
}


.buttons input:last-child{
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid #db2949;
    width: 125px;
    text-align: center;
    color: #db2949;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    background: white;
    transition: .5s;
}

.buttons input:last-child:hover{
    font-size: 15px;
    border-radius: 25px;
    width: 125px;
    text-align: center;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
	box-shadow: 0px 0px 10px 0px #d80027;
    border: 1px solid transparent;
	background-color: #db2949;
	color: #f2f2f2;
	cursor: pointer;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.massage{
	width: 80%;
}



#screen_1{
	width: 100%;
	height: 150px;
	background: url(../img/mechanics.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -50%;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px #333333 inset;
}

#screen_2{
	width: 100%;
	height: 150px;
	background: url(../img/computer.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -50% 85%;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px #333333 inset;
}

/*.....................Страница "О технологии".............................*/

.tech_wrap{
	width: 85%;
	background: white;
	position: relative;
	top: 50px;
	margin: 0px 7.5%;
	box-shadow: 0px 2px 8px #999999;
	padding: 10px 20px;
	box-sizing: border-box;
}

.tech_first{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1/2fr;
	color: #808080;
	grid-row-gap: 55px;
	padding: 40px;
	box-sizing: border-box;

}

.working{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;

}

.working h3{
	font-size: 30px;
	color: #1c8adb;
	text-align: center;
}

.work_img{
	background-image: url(../img/cpu.svg);
	background-repeat: no-repeat;
	background-position: 60%;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px transparent;
}

.work_text{
	text-align: justify;
}

.working_2{
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	text-align: justify;
}

.tech_second{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1/2fr 1fr 1/2fr;
	color: #808080;
	padding: 20px;
	box-sizing: border-box;
	grid-row-gap: 35px;
}


.use_2{
	text-align: justify;
	line-height: 25px;
	font-size: 16px;
	padding-top: 15px;
}

.use_img_1{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 8px transparent;
	margin: 30px auto;
	background-image: url(../img/idea.svg);
	background-repeat: no-repeat;
	background-position: 60%;
}
.use_img_2{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 8px transparent;
	margin: 30px auto;
	background-image: url(../img/agenda.svg);
	background-repeat: no-repeat;
	background-position: 60%;
}


.use{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
}

.use h3{
	font-size: 30px;
	color: #273b7a;
	margin-top: 30px;
	text-align: center;
}

.use_text{
	text-align: justify;
}


#back_1{
	margin: 5px auto 10px auto;
	padding: 10px;
	background-color: #1c8adb;
	width: 30%;
	border-radius: 27px;
	text-align: center;
	color: #f2f2f2;
	font-family: 'Montserrat';
}

#back_2{
	margin: 5px auto 10px auto;
	padding: 10px;
	background-color: #273b7a;
	width: 30%;
	border-radius: 27px;
	text-align: center;
	color: #f2f2f2;
	font-family: 'Montserrat';
}


.back{
	text-decoration: none;
}

.nav_top{
	background-image: url(../img/upwards-arrow.svg);
	background-size: 100% 100%;
	width: 40px;
	height: 40px;	
	position: fixed;
	z-index: 500;
	right: 10px;
	top: 50vh;
	cursor: pointer;
	display: block;
	transition: .5s;
	border-radius: 50%;
}

.nav_top:hover{
	background-image: url(../img/upwards-arrow.svg);
	background-size: 100% 100%;
	width: 40px;
	height: 40px;	
	position: fixed;
	z-index: 500;
	right: 10px;
	top: 50vh;
	cursor: pointer;
	display: block;
	transform: rotate(360deg);
	box-shadow: 0px 0px 7px 0px #808080;
	border-radius: 50%;
}


}

}