
*{
	margin: 0;
	padding: 0;
}

body{
	background: #f2f2f2;
	color: #f2f2f2;
	font-size: 16px;
	height: 200vh;
	font-family: 'Comfortaa';
}

body::selection{
	background: #f2f2f2;
	color: #6e65c6;
	font-size: 16px;
	height: 200vh;
	font-family: 'Comfortaa';
}


.main{
	width: 100%;
	background: #f2f2f2;
	overflow-x: hidden;
	overflow-y: hidden;
	background: white;
	box-shadow: 0px 0px 17px 0px #808080;
}




/*...................................................................................*/
@media only screen and (min-width: 1260px) 
{

.menu_phone{
	display: none;
}

#submenu{
	display: none;
	width: 200px;

    background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);

	z-index: 100;
	box-shadow: 0px 1px 10px 0px #555555;
	position: fixed;
	top: -90px;
	right: 0px;
	line-height: 45px;
	text-align: center;
}

#submenu a{
	color: #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;

}

#submenu li:hover{
	color: white;
	font-size: 14px;
	font-weight: bold;	
	background-color: #6e65c6;


}


.menu{
	display: none;
	max-width: 100%;
	position: fixed;

    background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);


	box-shadow: 0px 1px 10px 0px #555555;
	width: 100%;
	height: 50px;
	font-size: 14px;
	z-index: 1000;
	transition: .3s;
	box-sizing: content-box;
	display: inline-grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	font-weight: bold;
	text-align: center;

}

.menu a{

	text-decoration: none;
	color: #f2f2f2;
	transition: .5s;
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 10px;
	line-height: 50px;
	list-style: none;
	}


.menu li:hover{
	color: white;
	background-color: #6e65c6;
}

.menu .university{
	width: 75%;
	min-width: 420px;
	display: block;
	color: #f2f2f2;
	float: left;
	max-height: 45px;
	line-height: 30px;
	height: 30px;

    background-color: #6e65c6;


	border-radius: 20px;
	padding: 5px 15px;
	text-align: center;
	margin: 5px;
}

.rfid_vid{
	width: 50%;	
	height: 40vh;
	padding: 10px 25%;

}

.main_content p{
	width: 70%;
	padding: 10px 15%;
	color: #808080;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	margin: 15px auto;
    border-left: 2px solid #6e65c6;
    border-right: 2px solid #6e65c6;
    box-sizing:  border-box;

}

.main_content{
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.more{
	width: 30%;
	height: 50px;
	margin: 30px 35%;
	line-height: 50px;
	text-align: center;
	padding: 5px;
	border-radius: 30px;
	background-color: #6e65c6;
	background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);
	box-shadow: 0px 0px 20px 0px #6e65c6;
}	

.more:hover{
	width: 30%;
	height: 50px;
	margin: 30px 35%;
	line-height: 50px;
	text-align: center;
	padding: 5px;
	border-radius: 30px;
	background-color: #6e65c6;
	background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);
	box-shadow: 0px 0px 30px 0px #6e65c6;
}	

h1{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #444444;
}

}
/*..............................................................................*/
hr{
	border: 1px solid #555555;
}


#second{
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	box-shadow: 0px 1px 10px 0px #555555;
	padding: 30px 0px;

}

.sec_contaner{
	display: grid;
	padding: 20px 0px;
	grid-template-columns: 2fr 2fr 2fr;
	grid-column-gap: 10px;
}

h2{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #6e65c6;
	background: white;
	border: 5px solid #6e65c6;
	font-size: 35px;
	box-shadow: 0px 0px 7px 0px #808080;
    width:  500px;
    margin:  0px auto;
    top: 110px;
    position:  relative;

}


h1{
	text-align: center;
	padding: 0px 0px 15px 0px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: #6e65c6;
	background: white;
	border: 5px solid #6e65c6;
	font-size: 40px;
	box-shadow: 0px 0px 7px 0px #808080;
    width:  500px;
    margin:  0px auto;
    position:  relative;

}

.link{
	width: 350px;
	height: 130px;
	background: white;
	border-radius: 4px;
	margin: 25px auto;
	padding: 25px;
	box-shadow: 0px 0px 17px 0px #808080;
	transition: 0.5s;
}

.link:hover{
	width: 350px;
	height: 130px;
	background: white;
	border-radius: 4px;
	margin: 25px auto;
	padding: 25px;
	box-shadow: 0px 0px 40px 0px #808080;
}
/*....................1..................*/

.mobile_text_active{
}

.icon_1{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #3d3dff;
    background-image: url(../img/nut-icon.png), repeating-linear-gradient(to top,#0000ff 0%,#7a7aff 100%);
    background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #0000ff;
    float: left;
}

.info_1{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_1{
	font-size: 17px;
	border-radius: 20px;
	border: 1px solid #3d3dff;
	width: 100px;
	text-align: center;
	color: #3d3dff;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_1:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #3d3dff;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #0000ff;
}
/*...................2...................*/

.icon_2{
	width: 85px;
	height: 85px;
	border-radius: 50%;
    background-image: url(../img/handyman-tools.png), repeating-linear-gradient(to top,#cc00ff 0%,#e167ff 100%);
    background-color: #d734ff;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #cc00ff;
    float: left;
}

.info_2{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_2{
	font-size: 17px;
	border-radius: 20px;
	border: 1px solid #d734ff;
	width: 100px;
	text-align: center;
	color: #d734ff;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_2:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #d734ff;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #cc00ff;
}

/*.......................3..........................*/
.icon_3{
	width: 85px;
	height: 85px;
	border-radius: 50%;
    background-image: url(../img/black-rotated-puzzle-piece.png), repeating-linear-gradient(to top,#ffae00 0%,#ffc64d 100%);
    background-color: #ffba27;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #ffae00;
    float: left;
}

.info_3{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_3{
	font-size: 17px;
	border-radius: 20px;
	border: 1px solid #ffba27;
	width: 100px;
	text-align: center;
	color: #ffba27;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_3:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #ffba27;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #ffae00;
}

/*...........................4..............................*/

.icon_4{
	width: 85px;
	height: 85px;
	border-radius: 50%;
    background-image: url(../img/close.png), repeating-linear-gradient(to top,#4b0082 0%,#8155a1 100%);
    background-color: #662b92;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #4b0082;
    float: left;
}

.info_4{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_4{
	font-size: 17px;
	border-radius: 20px;;
	border: 1px solid #662b92;
	width: 100px;
	text-align: center;
	color: #662b92;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_4:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #662b92;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #4b0082;
}

/*.......................5..........................*/
.icon_5{
	width: 85px;
	height: 85px;
	border-radius: 50%;
    background-image: url(../img/plus.png), repeating-linear-gradient(to top,#5cdba8 0%,#8cd9ba 100%);
    background-color: #74dab1;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #5cdba8;
    float: left;
}

.info_5{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_5{
	font-size: 17px;
	border-radius: 20px;
	border: 1px solid #74dab1;
	width: 100px;
	text-align: center;
	color: #74dab1;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_5:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #74dab1;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #5cdba8;
}

/*.......................6..........................*/
.icon_6{
	width: 85px;
	height: 85px;
	border-radius: 50%;
    background-image: url(../img/minus.png), repeating-linear-gradient(to top,#d80027 0%,#dd526b 100%);
  	background-color: #db2949;
	background-size: 50% 50%, 100% 100%;
    background-position: 50% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 20px 0px #d80027;
    float: left;
}

.info_6{
	width: 250px;
	float: right;
	font-size: 15px;
	color: #444444;
}

.open_6{
	font-size: 17px;
	border-radius: 20px;
	border: 1px solid #db2949;
	width: 100px;
	text-align: center;
	color: #db2949;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	transition: .5s;
}

.open_6:hover{
	border: 1px solid transparent;
	font-size: 17px;
	border-radius: 20px;
	background-color: #db2949;
	width: 100px;
	text-align: center;
	color: #f2f2f2;
	padding: 5px 10px;
	margin: 10px 5px 10px 40px;
	box-shadow: 0px 0px 10px 0px #d80027;
}


.mobile_text_active{
	display: none;
}


.contacts{
	margin-top: 50px;
}

.contacts_wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.cont_contaner{
	width: 50%;	
	background: white;
	border-radius: 4px;
	margin: 15px auto;
	padding: 15px;
	box-shadow: 0px 0px 17px 0px #808080;


}

.profile{
	display: grid;
	grid-template-rows: 1fr 1fr: 
}

.profile .photo{
	width: 200px;
	height: 200px;	
	border: 17px solid #6e65c6;
	border-radius: 200px;
	background: url(../img/profile_photo.png), #f2f2f2;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0px auto;
	box-shadow: 0px 0px 17px 0px #808080;
	transition: .3s;
/*	background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);*/
}

.profile .photo:hover{
	width: 200px;
	height: 200px;	
	border: 17px solid #6e65c6;
	border-radius: 200px;
	background: url(../img/profile_photo.png), #c9c9c9;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 100% 100%;
	margin: 0px auto;
	box-shadow: 0px 0px 17px 0px #808080;
	transition: .3s;
/*	background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);*/
}


.profile_info{
	color: #808080;
	font-size: 17px;
	padding: 15px 0px;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
}

.profile{
	text-align: right;
}



.social{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.social a{
	text-decoration: none;
}

.social a:nth-child(1){
		width: 50px;	
		height: 50px;	
		background: url(../img/vk.svg);
		border-radius: 50px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		margin-bottom: 8px;
		background-size: 100% 100%;
}

.social a:nth-child(2){
		width: 50px;	
		height: 50px;	
		background: url(../img/facebook.png);
		border-radius: 50px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

.social a:nth-child(3){
		width: 50px;	
		height: 50px;	
		background: url(../img/gmail.svg);
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-position: 100% 100%;
		background-size: 100% 100%;
		border-radius: 50px; 
}

.social a:nth-child(4){
		width: 50px;	
		height: 50px;	
		background: url(../img/google-plus.svg) no-repeat;
		border-radius: 50px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

.social a:nth-child(5){
		width: 50px;	
		height: 50px;	
		background: url(../img/twitter.svg);
		border-radius: 50px; 
		box-shadow: 0px 0px 10px 0px #808080;
		margin: 0px auto;
		background-size: 100% 100%;
}

textarea{
	width: 80%;
	font-size: 15px;
	font-family: 'Comfortaa';
	height: 150px;
	resize: none;
	box-sizing: border-box;
    padding: 10px;
	border: 1px solid #808080;
	overflow: auto;
	background: #f2f2f2;
	border: 1px solid #cecece;
	border-radius: 2px 2px 5px 5px;
	margin: 10px 10%;
	box-shadow: 0px 0px 1px 0px #808080;
/*	border-bottom: 4px solid #6e65c6;*/
	color: #808080;
	display: content-box;
	transition: .3s;
}

textarea:focus{
	width: 80%;
	font-size: 15px;
	font-family: 'Comfortaa';
	height: 150px;
	resize: none;
	box-sizing: border-box;
    padding: 10px;
	border: 1px solid #808080;
	overflow: auto;
	background: #f2f2f2;
	border: 1px solid #cecece;
	border-radius: 2px 2px 5px 5px;
	margin: 10px 10%;
	box-shadow: 0px 0px 6px 0px #808080;
	border-bottom: 4px solid #6e65c6;
	color: #808080;
	display: content-box;
}

.buttons input:first-child{
    font-size: 18px;
    border-radius: 35px;
    border: 1px solid #74dab1;
    width: 150px;
    text-align: center;
    color: #74dab1;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    background: white;
    transition: .5s;

}

.buttons input:first-child:hover{
    font-size: 18px;
    border-radius: 35px;
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    box-shadow: 0px 0px 10px 0px #5cdba8;
    border: 1px solid transparent;
	background-color: #74dab1;
	color: #f2f2f2;
	cursor: pointer;
}


.buttons input:last-child{
    font-size: 18px;
    border-radius: 35px;
    border: 1px solid #db2949;
    width: 150px;
    text-align: center;
    color: #db2949;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
    background: white;
    transition: .5s;
}

.buttons input:last-child:hover{
    font-size: 18px;
    border-radius: 35px;
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    transition: .5s;
    margin: 0px auto;
    font-family: 'Comfortaa';
	box-shadow: 0px 0px 10px 0px #d80027;
    border: 1px solid transparent;
	background-color: #db2949;
	color: #f2f2f2;
	cursor: pointer;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.massage{
	width: 80%;
}

.footer{
	width: 100%;
	background-color: #6e65c6;
    background-image: repeating-linear-gradient(to bottom right,#667eea 0%,#764ba2 100%);
	display: grid;
	grid-template-columns: 4fr 4fr;
	grid-gap: 10px;
	padding: 20px;
	box-sizing: border-box;
}

.footer_info{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	box-sizing: border-box;
	margin-left: 30px;
}

/*.footer map{
	box-shadow: 0px 0px 5px #f2f2f2;
	height: 200px;

}*/

.footer .location{
	background-image: url(../img/world.svg);
	background-size: 30px 30px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 35px;
    vertical-align: middle;
}

.footer .site{
	background-image: url(../img/locate.svg);
	background-size: 30px 30px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 35px;
    vertical-align: middle;
}

.footer .copyright{
	background-image: url(../img/copyright.svg);
	background-size: 30px 30px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 35px;
    vertical-align: middle;
}

.footer{
	box-sizing: border-box;
	position: relative;
	bottom: 0px;
	margin-top: 50px;
	padding: 20px 50px;
	box-shadow: 0px 0px 17px #808080;
}

.footer iframe{
	width: 100%;
	height: 100%;
}

#screen_1{
	width: 100%;
	height: 150px;
	background: url(../img/mechanics.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -50%;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px #333333 inset;
}

#screen_2{
	width: 100%;
	height: 150px;
	background: url(../img/mechanics.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -50%;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px #333333 inset;
}


.nav_top{
	background-image: url(../img/upwards-arrow.svg);
	background-size: 100% 100%;
	width: 40px;
	height: 40px;	
	position: fixed;
	z-index: 1000;
	right: 10px;
	top: 50vh;
	cursor: pointer;
	display: block;
	transition: .5s;
	border-radius: 50%;
}

.nav_top:hover{
	background-image: url(../img/upwards-arrow.svg);
	background-size: 100% 100%;
	width: 40px;
	height: 40px;	
	position: fixed;
	z-index: 1000;
	right: 10px;
	top: 50vh;
	cursor: pointer;
	display: block;
	transform: rotate(360deg);
	box-shadow: 0px 0px 7px 0px #808080;
	border-radius: 50%;
}

}
