*{
	margin: 0;
	padding: 0;	
}


.logo{
	width: 212px;
}

.shopping_cart{
	width: 21px;
	cursor: pointer;
}

.nav-link{
	font-family: Sintony;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	color: #2c465a;
	transition: .3s;
}


.nav-item{
	padding: 0px 5px;
	cursor: pointer;
	color: #2c465a;
	transition:.3s;
}

.nav-item:hover{
	opacity: 0.7;
}

.nav-item:hover .dropdown-item{
	opacity: 1;
}


.badge-nav{
	background: #fe4c8d;
	color: #ffffff;
	border-radius: 50%;
	position: relative;
	top: -8px;
	left: -10px;
}

.dropdown{
	z-index: 10;
	opacity: 1;
}

.dropdown:hover{
	z-index: 10;
	opacity: 1;
}

.nav-link:nth-child(8){
	padding-top: 5px;
}

.navbar-nav .nav-item:last-child{
	background: url(../img/1475856660_food-drink-36.png.png) no-repeat 12px 30%;
	padding-left: 45px;
	background-color: #fea100;
	border-radius: 7px;
	border: 2px solid #ffffff;
	box-shadow: 0px 0px 0px 3px #fea100;
	max-width: 190px;
}

.carousel-indicators li{
	background: url(../img/carousel-white.png) no-repeat;
	top: 0px;
	width: 20px;
	height: 20px;
}

.carousel-indicators .active{
	background: url(../img/carousel.png) no-repeat;
}

.carousel-indicators{
	display: block;
	position:absolute;
	top: 45%;
	left: 30px;
	padding-left: 0px;
	margin: 0px;
}

.carousel-caption{
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 50px;
	bottom: 0;
	top: 30%;
	text-align: left;
}

.carousel-caption span{
	font-size: 2.5rem;
}

.span-luxury{
	color: #fea100;
}

.reviews{
	background: #edf1f3;
}
.container{
	width: 75%;
}

.reviews img{
	position: relative;
	width: 130px;
	top: -90px;
}

@media only screen and (max-width: 765px) and (min-width: 0px) {
	.carousel-caption{
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 40px;
	bottom: 0;
	top: 10%;
	text-align: left;
}

.carousel-caption span{
	font-size: 1.5rem;
}

.carousel-indicators li{
	background: url(../img/carousel-white.png) no-repeat;
	top: 0px;
	width: 10px;
	height: 10px;
}


}

